:root{
    --main-bg: #1b2838;
    --font-color: #acb2b8;
    --link-color: #fff;
    --head-color: #2f89bc;
    --steam-but-1: #6fa720;
    --steam-but-2: #588a1b;
    --steam-but-3: #d2efa9;
    --steam-but: linear-gradient(to right, var(--steam-but-1) 5%, var(--steam-but-2) 95%);
    --steam2-but-1: #417a9b;
    --steam2-but-2: #67c1f5;
    --steam2-but: linear-gradient(-60deg, var(--steam2-but-1) 5%, var(--steam2-but-2) 95%);
    --canvas-size: 940px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar{
    display: none;
}
*{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
[placeholder]:empty:after{
    content: attr(placeholder);
    opacity: 0.5;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: var(--main-bg);
    color: var(--font-color);
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
ul{
    margin: 0;
    padding: 0;
    margin-left: 16px;
    list-style-type: square;
    &[data-pip="1"]{
        list-style-type: decimal;
    }
}
li{
    margin-bottom: 8px;
}
.icon{
    width: 1em;
    height: 1em;
    fill: currentColor;
}
.swal2-popup{
    background: var(--main-bg);
    color: currentColor;
}
.swal2-styled.swal2-confirm{
    background: var(--steam-but);
    color: var(--steam-but-3);
}
.swal2-actions:not(.swal2-loading) .swal2-styled.swal2-confirm:hover, .swal2-styled.swal2-confirm:focus{
    background: var(--steam-but);
    color: var(--link-color);
    box-shadow: none;
}
[contenteditable], .editable{
    outline: 0;
    cursor: crosshair;
    &:hover, &:focus{
        border-left: 1px dashed;
    }
}
#bl-top{
    background: #171a21;
    display: grid;
    grid-template-columns: repeat(2, min-content 1fr) min-content;
    menu{
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 0.5em;
        gap: 0.25em;
        margin: 0;
        &:nth-last-child(2){
            justify-content: flex-end;
        }
        button{
            background: rgba(103, 193, 245, 0.2);
            color: currentColor;
            border: 0;
            cursor: pointer;
            background: #262625;
            font-size: 1.5em;
            line-height: 1em;
            margin: 0;
            padding: 0.5rem;
            &:hover{
                background: var(--steam2-but);
                color: var(--link-color);
            }
            &>*{
                pointer-events: none;
            }
        }
        [value="bold"]{
            font-weight: bold;
        }
        [value="italic"]{
            font-style: italic;
        }
        [value="underline"]{
            text-decoration: underline;
        }
    }
    [title='Blockari']{
        font-size: 3em;
    }
}
#blockari{
    display: grid;
    grid-template-columns: 1fr 11em;
    flex: 1;
    overflow: hidden;
    img{
        max-width: 100%;
        -webkit-user-drag: none;
    }
    h2{
        font-size: 15px;
        color: var(--head-color);
        font-weight: normal;
        line-height: 26px;
        padding-top: 2px;
        margin: 18px 0 0;
        &+br{
            display: none;
        }
    }
    &.display{
        --canvas-size: 940px;
    }
    &.tablet{
        --canvas-size: 720px;
    }
    &.mobile{
        --canvas-size: 480px;
    }
    &>*{
        overflow: auto;
    }
}
#bl-canvas{
    width: 100%;
    max-width: var(--canvas-size);
    justify-self: center;
    transition: 125ms;
    padding: 0 1%;
    box-sizing: border-box;
    line-height: 1.5em;
    p{
        margin: 0;
    }
}
#bl-side{
    padding: 0 1%;
    border-left: 1px solid var(--head-color);
    ul{
        list-style-type: square;
    }
}
.bl-section{
    &::before{
        content: attr(title);
        display: block;
        font-size: 18px;
        border-bottom: solid 1px var(--link-color);
        color: var(--head-color);
        text-transform: uppercase;
        padding: 0.5em 0;
        margin-bottom: 0.5em;
    }
}
.bl-item{
    color: var(--font-color);
    border: none;
    background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    aspect-ratio: 16 / 9;
    margin-bottom: 0.5rem;
    cursor: pointer;
    &>*{
        pointer-events: none;
    }
}
.bl-item-text-line{
    border-bottom: 0.5rem solid;
    box-sizing: border-box;
}
.bl-steam-button{
    text-align: center;
    background: var(--steam-but);
    color: var(--steam-but-3);
    border-radius: 4px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
    padding: 8px;
    width: 90%;
}
[class^='bl-embed-']{
    iframe{
        width: 100%;
        height: 100%;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.bl-embed-workshop{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 8px 2em;
    border-radius: 6px;
    margin: 10px 0;
    height: 126px;
    background: linear-gradient( 60deg, rgba(87, 92, 104, 0.3) 5%,rgba(255,255,255,0.05) 95%);
    span{
        position: absolute;
        bottom: 1em;
        left: 1em;
        font-size: 0.75em;
        &:before{
            content: attr(src);
        }
    }
    &:after{
        content: none;
    }
}
.bl-embed-youtube{
    position: relative;
    aspect-ratio: 16/9;
}
.bl-embed-app{
    position: relative;
    height: 190px;
}
@media screen and (min-width: 1080px){
    #bl-canvas{
        padding: 0;
    }
}
