---
name: Text
tags: element
style:
    display: flex
    flex-flow: column
    gap: 1em
    justify-content: center
code: |
    <div contenteditable class="bl-block bl-text" tabindex="0" data-type="element-text">
        <p placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, et."></p>
    </div>
---
{%- for i in range(3) %}
<div class="bl-item-text-line"></div>
{%- endfor %}
