---
name: Image
tags: element
style:
    display: flex
    align-items: center
code: |
    <img class="bl-block bl-img editable" src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" tabindex="0" data-type="element-img"/>
---
<svg class="bl-item-icon icon" style="font-size: 4.5em;"><use href="img/ico.svg#image"/></svg>
