---
name: H2
tags: element
style:
    display: flex
    align-items: center
code: |
    <h2 contenteditable class="bl-block bl-h2" tabindex="0" data-type="element-h2" placeholder="Lorem ipsum dolor sit amet."></h2>
---
<div class="bl-item-text-line" style="color: var(--head-color); width: 60%"></div>
