---
name: Youtube
tags: embed
style:
    display: flex
    justify-content: center
    align-items: center
code: |
    <div class="bl-embed-youtube editable" tabindex="0" data-type="embed-youtube">
        <iframe frameborder="0" src="https://www.youtube.com/embed/BggrpKfqh1c?showinfo=0&amp;autohide=1&amp;fs=1&amp;hd=1&amp;modestbranding=1&amp;rel=0&amp;showsearch=0&amp;wmode=direct&amp;autoplay=0" allowfullscreen=""></iframe>
    </div>
---
<svg class="bl-item-icon icon" style="font-size: 4.5em;"><use href="img/ico.svg#youtube"/></svg>
