---
name: Steam Workshop
tags: embed
style:
    display: flex
    justify-content: center
    align-items: center
code: |
    <div class="bl-embed-workshop editable" target="_blank" tabindex="0" data-type="embed-workshop">
        <span src="https://steamcommunity.com/sharedfiles/filedetails/?id=1090163886"></span>
        <svg class="bl-item-icon icon" style="font-size: 6em;"><use href="img/ico.svg#steam"/></svg>
        <h1>Steam Workshop</h1>
    </div>
---
<img src="img/workshop.jpg">
