---
name: Steam App
tags: embed
style:
    display: flex
    justify-content: center
    align-items: center
code: |
    <div class="bl-embed-app editable" tabindex="0" data-type="embed-app">
        <iframe src="https://store.steampowered.com/widget/480/" frameborder="0"></iframe>
    </div>
---
<div class="bl-steam-button">
    <svg class="bl-item-icon icon" style="font-size: 2.5em;"><use href="img/ico.svg#steam"/></svg>
</div>
