---
name: Sandwich
tags: feature
code: |
    <div data-type="feature-sandwich">
        <strong contenteditable tabindex="0" placeholder="Lorem ipsum dolor."></strong>
        <br/>
        <img class="bl-img editable" data-type="element-img" src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" tabindex="0" />
        <br/>
        <span contenteditable tabindex="0" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, incidunt?"></span>
    </div>
---
<div class="bl-item-text-line"></div>
<svg class="bl-item-icon icon" style="font-size: 3.0em;"><use href="img/ico.svg#image"/></svg>
<div class="bl-item-text-line"></div>
