---
name: Hero
tags: feature
code: |
    <div data-type="feature-hero">
        <img class="bl-img editable" data-type="element-img" src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" tabindex="0"/>
        <br/>
        <strong contenteditable tabindex="0" placeholder="Lorem ipsum dolor."></strong>
        <br/>
        <span contenteditable tabindex="0" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, incidunt?"></span>
    </div>
---
<svg class="bl-item-icon icon" style="font-size: 2.8em;"><use href="img/ico.svg#image"/></svg>
<div class="bl-item-text-line" style="margin-bottom: 0.5em;"></div>
<div class="bl-item-text-line"></div>
