---
name: Line
tags: feature
style:
    display: flex
    align-items: center
    gap: 0.5rem
    font-size: 4em
code: |
    <div data-type="feature-line">
        <img class="bl-img editable" data-type="element-img" src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" tabindex="0"/><strong contenteditable tabindex="0" placeholder="Lorem ipsum dolor."></strong> - <span contenteditable tabindex="0" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, incidunt?"></span>
    </div>
---
<svg class="bl-item-icon icon"><use href="img/ico.svg#image"/></svg>
<div class="bl-item-text-line" style="flex: 1; height: 1em;"></div>
