---
name: Image Pips
tags: list
style:
    display: grid
    grid-template-columns: max-content 1fr
    gap: 4px
code: |
    <ul class="bl-block bl-pip-list" data-pip="{{ pip }}" data-type="list-ipip">
        {%- for l in list %}
        <li contenteditable tabindex="0">{{ l }}</li>
        {# <img class="bl-pip-img" src="{{ pip }}"/> <span contenteditable tabindex="0">{{ l }}</span><br/> #}
        {%- endfor %}
    </ul>
data:
    pip: img/star.png
    list:
        - Lorem ipsum dolor sit.
        - Lorem ipsum dolor sit amet.
        - Lorem ipsum dolor.
eleventyExcludeFromCollections: true
---
{%- for i in range(3) %}
<img src="img/star.png"/> <div class="bl-item-text-line"></div>
{%- endfor %}
