---
name: Unicode Pips
tags: list
style:
    display: grid
    grid-template-columns: max-content 1fr
    gap: 7px
code: |
    <ul class="bl-block bl-pip-list" data-type="list-upip" data-pip="🙾">
        {%- for l in list %}
        <li contenteditable tabindex="0">{{ l }}</li>
        {%- endfor %}
    </ul>
data:
    pip: 🙾
    list:
        - Lorem ipsum dolor sit.
        - Lorem ipsum dolor sit amet.
        - Lorem ipsum dolor.
eleventyExcludeFromCollections: true
---
{%- for i in range(3) %}
🙾 <div class="bl-item-text-line"></div>
{%- endfor %}
