---
name: Default (Un)Ordered
tags: list
code: |
    <ul contenteditable tabindex="0" data-type="list-default" data-pip="0">
        <li placeholder="Lorem ipsum dolor sit."></li>
    </ul>
---
<ul style="line-height: 6px;">
    {%- for i in range(3) %}
    <li class="bl-item-text-line"></li>
    {%- endfor %}
</ul>
