<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockari Steam</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.min.css" integrity="sha256-vi0IHEWWjH+X+5ImyV6kj/fBMFzSTz4uPlUjRhRTuDQ=" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/svg+xml" href="favicon.svg"></link>
</head>
<body>
    <nav id="bl-top">
        <menu id="bl-text" class="bl-edit">
            <button value="bold"title="Bold">B</button>
            <button value="italic" title="Italic">I</button>
            <button value="underline" title="Underline">U</button>
            <button value="createLink" title="Link"><svg class="icon"><use href="img/ico.svg#link"></button>
            <button value="embed" title="Set Embed"><svg class="icon"><use href="img/ico.svg#embed"></use></svg></button>
            <button value="list" title="Set List Pips"><svg class="icon"><use href="img/ico.svg#list"></use></svg></button>
        </menu>
        <menu id="bl-block" class="bl-edit">
            <button value="up" title="Move Up"><svg class="icon"><use href="img/ico.svg#up"></use></svg></button>
            <button value="down" title="Move Down"><svg class="icon"><use href="img/ico.svg#down"></use></svg></button>
            <button value="delete" title="Delete"><svg class="icon"><use href="img/ico.svg#trash"></use></svg></button>
        </menu>
        <svg class="icon" title="Blockari"><use href="img/ico.svg#menu"></use></svg>
        <menu id="bl-size">
            {% set screen = ['display', 'tablet', 'mobile'] %}
            {% for s in screen %}
            <button class="{{ s }}" title="{{ s | capitalize }}"><svg class="icon"><use href="img/ico.svg#{{ s }}"></use></svg></button>
            {% endfor %}
        </menu>
        <menu id="bl-code">
            <button value="code" title="Save Code"><svg class="icon"><use href="img/ico.svg#download"></use></svg></button>
        </menu>
    </nav>
    <section id="blockari" class="{{ screen[0] }}">
        <div id="bl-canvas"></div>
        <div id="bl-side">
            {% set a = ['all', 'blocks'] %}
            {%- for tag, section in collections %}
            {% if tag not in a %}
            <div class="bl-section" title="{{ tag | capitalize}}">
                {%- for b in section %}
                <div class="bl-item" data-html="{{ b.data.code }}" title="{{ b.data.name }}" style="{{ b.data.style | json2css}}">{{ b.templateContent | safe }}</div>
                {%- endfor %}
            </div>
            {% endif %}
            {%- endfor %}
        </div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.min.js" integrity="sha256-PG3RlLoOWZhBahmoWXRUIbrOS6PrWsfx1IDUbLXX5dU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jszip@3.10.0/dist/jszip.min.js" integrity="sha256-RJEp/lRYoP8E7Mlpwa0GG4iCrDTmCSa8jxO6NrYUrOQ=" crossorigin="anonymous"></script>
<script src="js/blockari-steam.js"></script>
</html>
